#what .items {
    display: block;
    padding: 1rem;
}

/* align icon to left */
#what .items .item {
    display: flex;
    text-align: left ;
}

/* Position icons */
#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* SMART PHONE */

@media (max-height: 570px) {

    .l-heading {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        margin-bottom: 0.5 rem;
        text-align: center;
    }



    #navbar ul {
        padding: 0.5rem;
    }
   /* 
    #showcase .showcase-content {
        top: 110px;
    } */

    #who {
        display: block;
    }

    #who .who-img {
    display: none;
    }

    #clients .items img {
        width: 70%;
    }

    #contact {
      display: block;
    } 

    /* #contact .map {

        height: 400px;
    } */
}